// COLORES
$color_fondo: #f0f0f0;
$color_fondoFicha: #312a2a;
$color_blanco: #ffffff;
$color_borderImputs: #f0f0f0;
$color_fontBlue: #5284b9;
$colorCards: #F5F8FB;
$color_fontMediumGray: #999;
$color_fontLightGray: #f0f0f0;
